h1,
h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  span {
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: -8px;
      left: 2px;
      background: var(--accent);
    }
  }
}

header {
  padding: 30px 20px;
  span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: #000;
    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 10px;
      background: #000;
      position: absolute;
      bottom: 10px;
    }
    &:after {
      bottom: 0;
      top: 10px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  max-width: 636px;
  margin: 0 auto;
}

main {
  #hero {
    .background {
      padding-top: 40px;
      background: var(--light-bg);
      box-shadow: inset 0 -20px #fff;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      justify-content:flex-start;
      align-items: center;
    }
    a {
      background: var(--accent);
      padding: 16px 32px;
      border-radius: 8px;
      max-width: fit-content;
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: 700;
    }
  }
  img {
    max-width: 279px;
    margin-left: auto;
  }
  > img {
    max-width: 279px;
  }
  #identity {
    padding: 120px 60px;
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
    }
    .container {
      > p {
        color: var(--dark-text);
        text-align: center;
        margin: 0 auto;
        max-width: 880px;
        font-size: 1.12rem;
      }
      > div {
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        align-items: center;
        img {
            margin: 0 auto;
        }
        div {
          max-width: 670px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          color: var(--body-text);
        }
      }
    }
  }
}

#services {
  background: var(--light-bg);
  padding: 80px 20px;
  h2 {
    text-align: center;
  }
  .services {
    display: flex;
    gap: 50px 30px;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 60px;
  }
  .service {
    max-width: 270px;
    width: 100%;
    min-height: 320px;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 18px;
    div {
      display: flex;
      gap: 12px;
      align-items: center;
      img {
        background: #fff;
        padding: 8px;
        border-radius: 4px;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &:nth-child(1) {
      background: url("/img/png/services-1.png");
    }
    &:nth-child(2) {
      background: url("/img/png/services-2.png");
    }
    &:nth-child(3) {
      background: url("/img/png/services-3.png");
    }
    &:nth-child(4) {
      background: url("/img/png/services-4.png");
    }
    &:nth-child(5) {
      background: url("/img/png/services-5.png");
      display:none;
    }
    &:nth-child(6) {
      background: url("/img/png/services-6.png");
      display:none;
    }
    &:nth-child(7) {
      background: url("/img/png/services-7.png");
      display:none;
    }
    &:nth-child(8) {
      background: url("/img/png/services-8.png");
      display:none;
    }
  }
  .container > a {
    background: var(--accent);
    padding: 16px 32px;
    border-radius: 8px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    margin: 60px auto 0 auto;
    gap: 6px;
    font-weight: 700;
  }
}

#stories {
    padding: 120px 20px;
    h2 {
      text-align: center;
      margin-bottom: 80px;
    }
    img {
        padding-bottom: 40px
    }
    .story {
      max-width: 482px;
      margin: 0 auto;
      background: var(--light-bg-2);
      padding: 60px 40px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
      position: relative;
      p {
        font-size: 1.25rem;
        line-height: 170%;
        color: var(--body-text);
        position: relative;
        text-align: center;
        &:before {
          content: "";
          display: block;
          width: 38px;
          height: 31px;
          background: url("/img/svg/semicolon.svg") no-repeat center;
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%)
        }
      }
      &:before,
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: var(--light-bg) url("/img/svg/arrow-stories.svg") no-repeat
          center;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: -90px;
      }
      &:after {
        left: unset;
        right: -90px;
        transform: rotate(180deg);
      }
    }
  }
  
  #contact {
    h2 {
      text-align: center;
      margin-bottom: 60px;
    }
    .container {
      background: var(--light-bg);
      max-width: unset;
      margin: unset;
      padding: 60px 60px 0 60px;
      box-shadow: inset 0 -40px #fff;
    }
    .contact {
      max-width: 648px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      form {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        div {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        input {
          padding: 16px;
          border-radius: 6px;
          border: 1px solid var(--input-border);
          color: var(--input-text);
        }
        button {
          background: var(--accent);
          color: #fff;
          border: none;
          padding: 16px 32px;
          border-radius: 8px;
          max-width: fit-content;
          display: flex;
          align-items: center;
          gap: 6px;
          font-weight: 700;
        }
      }
    }
    .contact-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      margin-bottom: 50px;
      > div {
        display: flex;
        gap: 20px;
        min-width: 288px;
        img {
          background: #fff;
          max-height: 40px;
          padding: 0 10px;
          border-radius: 4px;
        }
        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          margin-top: 5px;
        }
        address,
        a {
          display: block;
          color: var(--body-text);
          font-size: 1.125rem;
          font-style: normal;
          margin-top: 10px;
        }
      }
    }
  }
  